<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICameraService" />
        <binding name="BasicHttpBinding_IPowerSupplyService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2113/CameraService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICameraService" contract="CameraService.ICameraService"
                name="BasicHttpBinding_ICameraService" />
      <endpoint address="http://localhost:2115/PowerSupplyService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPowerSupplyService"
                contract="PowerSupply.IPowerSupplyService" name="BasicHttpBinding_IPowerSupplyService" />
    </client>
  </system.serviceModel>
</configuration>